body {
  background: url(/jarvis/img/background.png);
}
header {
  min-height: 40px;
  background-image: linear-gradient(to bottom, rgb(78, 78, 12), rgb(77, 114, 12));
  position: fixed;
  width: 100%;
  z-index: 2;
}
.navbar {
  margin: 0;
}
.content {
  max-width: 1024px;
  margin: 0 auto;
}
.logo {
  display: inline-block;
  width: 92px;
  height: 40px;
  float: left;
}
.dropdown:hover {
  background-color: #eeeeee;
}
ul.nav li.dropdown:hover > ul.dropdown-menu{
  display: block;
}
a.menu:after, .dropdown-toggle:after {
  content: none;
}
.main {
  position: relative;
  top: 46px;
  z-index: 1;
}

article{
  width: 181px;
  margin: 0 15px 10px 0;
  padding: 10px;
  background: #EEE;
  border: 1px solid #f7dde7;
  border-radius:5px;
}

h2{
  font-size:12px;
  font-weight: bold;
  overflow:hidden;
  white-space:nowrap;
  line-height: 20px;
}

.details{
  margin: 5px 0 10px;
}

.author{
  margin: 10px 0 5px;
  text-align: right;
  white-space:nowrap;
  overflow:hidden;
  white-space:nowrap;
  line-height: 20px;
}

#morewrapper{
  text-align:center;
  padding:30px;
  position: relative;
}

#morewrapper span {
    margin: -22px 5px 0 0;
    position: absolute;
    top: 50%;
  background: url('/jarvis/img/dribbble.png') no-repeat 50% 50%;
  width: 46px;
  height: 45px;
}

#morewrapper a{
  font-size:14px;
  font-family: 'microsoft yahei', Arial, sans-serif;
  color: #D85588;
  font-weight: 600;
  text-shadow: 0 1px 1px #D85588;
  border: 1px solid #DDDDDD;
  background: #f1f1f1; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#fafafa); /* for IE */
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#fafafa)"; /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fafafa)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ffffff,  #fafafa); /* for firefox 3.6+ */
  margin: 0;
  padding: 10px 10px 10px 45px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  cursor:pointer;
  left: 10px;
}

#morewrapper a:hover{
  background: #D85588;
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#313639333,endColorStr=#313639333); /* for IE */
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#313639333,endColorStr=#313639333)"; /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#313639333), to(#313639333)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #313639333,  #313639333); /* for firefox 3.6+ */
  color: #fff;
  border: 1px solid #EEEEEE;
  text-decoration: none
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.morebutton{
  width: 216px;
  margin: 0 auto;
  position: relative;
}

footer{
  line-height: 20px;
  padding: 5px;
}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }


/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#backtotop {
    bottom: 12px;
    height: 50px;
    position: fixed;
    right: -60px;
    transition: all 1s ease 0s;
    width: 50px;
    z-index: 9999;
}
#backtotop.showme {
    right: 12px;
    transform: scale(1) rotate(-360deg) translate(0px);
}
#backtotop .bttbg {
    background: url("/jarvis/img/top_button.png") no-repeat scroll 0 0 transparent;
    height: 50px;
    width: 50px;
}
#backtotop .bttbg:hover {
    background-position: left bottom;
}