* {
  margin: 0;
  padding: 0;
}
body {
  /*background: url(/jarvis/img/background.png);*/
  /*background: rgb(220, 224, 206);*/
  font-size: 62.5%;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.red {
  color: red;
}
header {
  min-height: 40px;
  /*background-image: linear-gradient(to bottom, rgb(143, 143, 136), rgb(226, 226, 209));*/
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 0 .0625em .1875em rgba(0,0,0,0.4),inset 0 -1px rgba(255,255,255,0.3);
  background-image: linear-gradient(to bottom,rgba(255,255,255,0.7) 0,rgba(255,255,255,0) 100%);
  background-color: #d9d9d9;
}
.navbar ul.nav > li > a {
  font-weight: 700;
  text-shadow: none;
  color: rgb(80, 80, 80);
}
.navbar {
  margin: 0;
}
.content {
  max-width: 1024px;
  margin: 0 auto;
}
.logo {
  display: inline-block;
  width: 92px;
  height: 40px;
  float: left;
}
.dropdown:hover {
  background-color: #eeeeee;
}
ul.nav li.dropdown:hover > ul.dropdown-menu{
  display: block;
}
a.menu:after, .dropdown-toggle:after {
  content: none;
}
.main {
  position: relative;
  top: 46px;
  z-index: 1;
}
article .like {
  width: 20px;
  height: 20px;
  border: 0;
  float: right;
  position: relative;
  top: 5px;
  background: url(/jarvis/img/like.png);
}
article .al-like {
  background-position: 0 -20px;
}
article .like:hover {
  background-position: 0 -20px;
}

article {
  width: 181px;
  margin: 0 15px 10px 0;
  padding: 10px;
  background: #EEE;
  border: 1px solid #f7dde7;
  border-radius:5px;
}
article .price {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  margin-top: 5px;
  font-weight: 700;
  color: #ff6699;
}
h6.product-title {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  line-height: 20px;
}

.details{
  margin: 5px 0 10px;
}

.author{
  margin: 10px 0 5px;
  text-align: right;
  white-space:nowrap;
  overflow:hidden;
  white-space:nowrap;
  line-height: 20px;
}

footer{
  line-height: 20px;
  padding: 5px;
}
#shareUrl {
  width: 455px;
}
.support_site a {
  margin-right: 10px;
}
.share-pic > img {
  width: 150px;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fcfcfc), to(#bfbfbf), color-stop(3%, #f7f7f7), color-stop(12%, #f2f2f2), color-stop(90%, #d9d9d9));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
  background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
  background-image: -o-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
  background-image: -ms-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
  background-image: linear-gradient(to bottom, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.53);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.53);
  box-shadow: 0 0 20px rgba(0,0,0,0.53);
}
.share-content {
  padding-left: 10px;
}
.share-content textarea {
  overflow: hidden;
  resize: none;
  width: 276px;
  font-size: 1em;
}
.share-content > p {
  background: #f5f5f5;
  color: #999;
  height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
  overflow: hidden;
}
.share-content > p > span {
  margin-left: 10px;
}
.share-content > p > span:first-child {
  color: #ff74a9;
  font-size: 1.6em;
}
.share-content > p > span:first-child + span {
  display: inline-block;
  width: 20em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pub-button {
  border: none;
  margin-bottom: 10px;
   background: #b8d665;
   background: -webkit-gradient(linear, left top, left bottom, from(#dec839), to(#b8d665));
   background: -webkit-linear-gradient(top, #dec839, #b8d665);
   background: -moz-linear-gradient(top, #dec839, #b8d665);
   background: -ms-linear-gradient(top, #dec839, #b8d665);
   background: -o-linear-gradient(top, #dec839, #b8d665);
   padding: 15px 15px 14px 15px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 24px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.pub-button:hover {
   border-top-color: #687828;
   background: #687828;
   color: #ccc;
   }
.pub-button:active {
   border-top-color: #adcc46;
   background: #adcc46;
   }

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }


/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#backtotop {
    bottom: 12px;
    height: 50px;
    position: fixed;
    right: -60px;
    transition: all 1s ease 0s;
    width: 50px;
    z-index: 9999;
}
#backtotop.showme {
    right: 12px;
    transform: scale(1) rotate(-360deg) translate(0px);
}
#backtotop .bttbg {
    background: url("/jarvis/img/top_button.png") no-repeat scroll 0 0 transparent;
    height: 50px;
    width: 50px;
}
#backtotop .bttbg:hover {
    background-position: left bottom;
}