body {
  background: #f2f0f0;
  font-family: Tahoma,"Microsoft Yahei",Arial;
  font-size: 62.5%;
}
.margin0 {
  margin: 0;
}
.content {
  max-width: 1024px;
  margin: 0 auto;
}
.wc-wording {
  max-width: 664px;
  margin-left: auto;
  margin-right: auto;
}
.main .content {
  padding: 50px 0 100px 0;
  background: white;
  margin-top: 20px;
  box-shadow: 0 0px 1px rgba(34, 25, 25, 0.1);
  -webkit-box-shadow: rgba(34, 25, 25, 0.1) 0px 0px 1px;
  border: 1px solid #E6E4E4;
  border-radius: 5px;
}
[class^="icon-idog-"], [class*=" icon-idog-"] {
  background-image: url(/jarvis/img/idog-glyphicons-halflings.png);
}
.icon-idog-remove {
  height: 20px;
  background-position: -312px 2px;
}
.icon-idog-ok {
  background-position: -288px 0;
}
#signupSuccessText {
  max-width: 664px;
  margin-left: auto;
  margin-right: auto;
  color: #468847;
}